<template name="brandcaurosal">
	<!--product brands carousel-->
	<section class="sectionfrontgap">
	</section>
		<div class="container">

			<div class="row ">
				<h2 class="tt_uppercase text-center color_dark m_bottom_25">Our Special Collection</h2>
				<div class="col-lg-4 col-md-4 col-sm-4">
			        <div class="text-center">
			            <ul>
			                <li> Wedding Cards</li>
			                <li> BirthDay Cards</li>
			                <li> Party Invitation</li>
			                <li> Thankyou, RSVP Cards</li>
			                <li> Special occasions</li>
			                <li> Bussiness Cards</li>
			            </ul>
			        </div>
				</div>

				<div class="col-lg-8 col-md-8 col-sm-8">
					<div class="product_brands with_sidebar m_sm_bottom_35">
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
						<a href="#" class="d_block t_align_c animate_fade"><img src="images/brand_logo.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>


</template>