<template name="featurehighlights">
	<section class="sectionfrontgap">
	</section>
	<div class="container">
		<div class="row clearfix info_blocks_container">

			<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 animate_ftr">
				<figure class="info_block_type_2 t_align_c">
					<div class="icon_wrap_1 r_corners bg_light_color_1 m_bottom_15 t_align_c vc_child scheme_color d_inline_b tr_all_hover"><i class="fa fa-desktop d_inline_middle"></i></div>
					<h4 class="fw_medium color_dark m_bottom_15">Professional Cards</h4>
					<p class="m_bottom_10">We offer all professionally designed cards for all occations</p>
					<a href="#" class="tt_uppercase f_size_large">Read More</a>
				</figure>
			</div>


			<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 animate_ftr">
				<figure class="info_block_type_2 t_align_c">
					<div class="icon_wrap_1 r_corners bg_light_color_1 m_bottom_15 t_align_c vc_child scheme_color d_inline_b tr_all_hover"><i class="fa fa-send d_inline_middle"></i></div>
					<h4 class="fw_medium color_dark m_bottom_15">Slick Editor</h4>
					<p class="m_bottom_10">Editor which allows you to customize your cards!!!</p>
					<a href="#" class="tt_uppercase f_size_large">Read More</a>
				</figure>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 animate_ftr">
				<figure class="info_block_type_2 t_align_c">
					<div class="icon_wrap_1 r_corners bg_light_color_1 m_bottom_15 t_align_c vc_child scheme_color d_inline_b tr_all_hover"><i class="fa fa-heart d_inline_middle"></i></div>
					<h4 class="fw_medium color_dark m_bottom_15">Branding and Quality</h4>
					<p class="m_bottom_10">We promise an exceptional Quality and 100% satisfaction!</p>
					<a href="#" class="tt_uppercase f_size_large">Read More</a>
				</figure>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 animate_ftr">
				<figure class="info_block_type_2 t_align_c">
					<div class="icon_wrap_1 r_corners bg_light_color_1 m_bottom_15 t_align_c vc_child scheme_color d_inline_b tr_all_hover"><i class="fa fa-cogs d_inline_middle"></i></div>
					<h4 class="fw_medium color_dark m_bottom_15">Support</h4>
					<p class="m_bottom_10">Niyotaa makes sure you are provided with professional support..</p>
					<a href="#" class="tt_uppercase f_size_large">Read More</a>
				</figure>
			</div>

		</div>
	</div>

</template>