<template name="frontslideshow">

	<section class="sectionfrontgap">
	</section>
	
	<div class="container">
		<h2 class="tt_uppercase text-center color_dark m_bottom_25">Niyotaa Editor</h2>


					<div class="clearfix m_bottom_10">
						<div class="photoframe r_corners shadow m_bottom_20 m_right_20 f_left sub_sideshow">
							<div class="simple_slide_show flexslider">

								<ul class="slides">
									<li>
										<img src="images/editorpic.jpg" alt="">

										<div class="simple_s_caption color_light tr_all_hover">

											<h5 class="fw_medium m_bottom_10">Sub title</h5>

											<p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

										</div>

									</li>

									<li>
										<img src="images/editorpic2.png" alt="">
										<div class="simple_s_caption color_light tr_all_hover">
											<h5 class="fw_medium m_bottom_10">Sub title</h5>

											<p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
										</div>
									</li>

									<li>
										<img src="images/editorpic.jpg" alt="">
										<div class="simple_s_caption color_light tr_all_hover">

											<h5 class="fw_medium m_bottom_10">Sub title</h5>

											<p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

										</div>
									</li>

								</ul>

							</div>

						</div>


						<p class="m_bottom_10">Create your own card with our special editor! </p>

						<div class="sc_footer t_align_c">

							<a href="{{pathFor 'checkout'}}" role="button" class="button_type_4 bg_scheme_color d_inline_middle r_corners tr_all_hover color_light">Design your Niyotaa!</a>
						</div>

					</div>

</div>
</template>