<template name="frontpage">

		<!--boxed layout-->
		<div class="wide_layout relative w_xs_auto">
			
			<!--slider-->
			{{> frontslider}}

			<!--content-->
			<div class="page_content_offset p_bottom_0">

				<!-- Video Section-->
				{{> videosection}}

				<!--Feature Highlights -->
				{{> featurehighlights}}

				<!-- brand carousal-->
				{{> brandcaurosal}}

				<!-- Slide Show -->
				{{> frontslideshow}}

				<!--Recent work to mention-->
				{{> recentwork}}

				<!--Testimonials and what are you -->
				{{> testimonialspage}}
				
				<!--Plans offered -->
				{{> planstooffer}}

				<!--Team -->
				{{> teamprofile}}
	
			</div>

		</div>
		
		<!--login popup-->
		{{> loginform}}

		<!--register popup-->
		{{> signupform}}

		<!-- Button to bring back top -->
		{{> bringbacktop}}

</template>