<template name="recentwork">
	<section class="bg_light_color_3 recent_work_wrap m_bottom_45">
					<div class="container">
						<div class="clearfix m_bottom_25 m_sm_bottom_20">
							<h2 class="tt_uppercase text-center  color_dark  heading2 animate_fade f_mxs_none m_mxs_bottom_15">Our Recent Work</h2>
							<div class="f_right clearfix nav_buttons_wrap animate_fade f_mxs_none">
								<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners orw_prev"><i class="fa fa-angle-left"></i></button>
								<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners orw_next"><i class="fa fa-angle-right"></i></button>
							</div>
						</div>
						<div class="our_recent_work_carousel t_align_c">
							<figure class="d_inline_b d_md_block t_align_l animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_07.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="images/portfolio_img_01.jpg" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 1"><i class="fa fa-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 1</b></a></h4>
									<a href="#" class="color_dark">Portraits</a>
								</figcaption>
							</figure>
							<figure class="d_inline_b d_md_block t_align_l d_mxs_block animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_08.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="http://www.youtube.com/watch?v=SZEflIVnhH8" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 2"><i class="fa fa-video-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 2</b></a></h4>
									<a href="#" class="color_dark">Fashion</a>
								</figcaption>
							</figure>
							<figure class="d_inline_b d_md_block t_align_l d_mxs_block animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_09.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="images/portfolio_img_03.jpg" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 3"><i class="fa fa-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 3</b></a></h4>
									<a href="#" class="color_dark">People</a>
								</figcaption>
							</figure>
							<figure class="d_inline_b d_md_block t_align_l d_mxs_block animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_10.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="images/portfolio_img_04.jpg" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 4"><i class="fa fa-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 4</b></a></h4>
									<a href="#" class="color_dark">People</a>
								</figcaption>
							</figure>
							<figure class="d_inline_b d_md_block t_align_l d_mxs_block animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_11.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="images/portfolio_img_05.jpg" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 5"><i class="fa fa-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 5</b></a></h4>
									<a href="#" class="color_dark">Cities</a>
								</figcaption>
							</figure>
							<figure class="d_inline_b d_md_block t_align_l d_mxs_block animate_ftb long">
								<div class="photoframe with_buttons relative shadow r_corners wrapper m_bottom_15">
									<img src="images/portfolio_img_12.jpg" alt="" class="tr_all_long_hover">
									<div class="open_buttons clearfix">
										<div class="f_left f_size_large tr_all_hover"><a href="images/portfolio_img_06.jpg" role="button" class="color_light button_type_13 r_corners box_s_none d_block jackbox" data-group="portfolio" data-title="title 6"><i class="fa fa-camera"></i></a></div>
										<div class="f_left m_left_10 f_size_large tr_all_hover"><a href="portfolio_single_1.html" role="button" class="color_light button_type_13 r_corners box_s_none d_block"><i class="fa fa-link"></i></a></div>
									</div>
								</div>
								<figcaption class="t_xs_align_l">
									<h4 class="m_bottom_3"><a href="#" class="color_dark"><b>Image title 6</b></a></h4>
									<a href="#" class="color_dark">People</a>
								</figcaption>
							</figure>
						</div>
					</div>
				</section>
</template>