<template name="teamprofile">
	<div class="container">



		<h2 class="tt_uppercase color_dark m_bottom_25">Team Niyotaa</h2>

			<div class="row clearfix">

				<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 m_xs_bottom_30">

					<figure class="t_align_c">

						<div class="circle wrapper team_photo d_inline_b m_bottom_15">

							<img src="images/team_img_01.jpg" alt="">

						</div>

						<figcaption>

							<h4 class="fw_medium color_dark">Edna Barton</h4>

							<p class="color_dark m_bottom_10">Designer</p>

							<p class="m_bottom_10">Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum.</p>

							<hr class="divider_type_5 d_inline_b m_bottom_5">

							<ul class="clearfix horizontal_list social_icons d_inline_b t_md_align_c">

								<li class="facebook f_md_none d_md_inline_middle m_bottom_5 relative">

									<a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li class="twitter f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li class="google_plus f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-google-plus"></i>

									</a>

								</li>

								<li class="pinterest m_left_5 f_md_none d_md_inline_middle m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-pinterest"></i>

									</a>

								</li>

								<li class="instagram m_left_5 f_md_none d_md_inline_middle m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-instagram"></i>

									</a>

								</li>

							</ul>

						</figcaption>	

					</figure>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 m_xs_bottom_30">

					<figure class="t_align_c">

						<div class="circle wrapper team_photo d_inline_b m_bottom_15">

							<img src="images/team_img_02.jpg" alt="">

						</div>

						<figcaption>

							<h4 class="fw_medium color_dark">Bradley Grosh</h4>

							<p class="color_dark m_bottom_10">Team leader</p>

							<p class="m_bottom_10">Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum.</p>

							<hr class="divider_type_5 d_inline_b m_bottom_5"><br>

							<ul class="clearfix horizontal_list social_icons d_inline_b t_md_align_c">

								<li class="facebook f_md_none d_md_inline_middle m_bottom_5 relative">

									<a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li class="twitter f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li class="google_plus f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-google-plus"></i>

									</a>

								</li>

							</ul>

						</figcaption>	

					</figure>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 m_xs_bottom_30">

					<figure class="t_align_c">

						<div class="circle wrapper team_photo d_inline_b m_bottom_15">

							<img src="images/team_img_03.jpg" alt="">

						</div>

						<figcaption>

							<h4 class="fw_medium color_dark">Gloria Mann</h4>

							<p class="color_dark m_bottom_10">Designer</p>

							<p class="m_bottom_10">Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum.</p>

							<hr class="divider_type_5 d_inline_b m_bottom_5"><br>

							<ul class="clearfix horizontal_list social_icons d_inline_b t_md_align_c">

								<li class="twitter f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

								<li class="google_plus f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-google-plus"></i>

									</a>

								</li>

								<li class="pinterest f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-pinterest"></i>

									</a>

								</li>

								<li class="instagram f_md_none d_md_inline_middle m_left_5 m_bottom_5 relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-instagram"></i>

									</a>

								</li>

							</ul>

						</figcaption>	

					</figure>

				</div>

				<div class="col-lg-3 col-md-3 col-sm-3 m_bottom_45 m_xs_bottom_30">

					<figure class="t_align_c">

						<div class="circle wrapper team_photo d_inline_b m_bottom_15">

							<img src="images/team_img_04.jpg" alt="">

						</div>

						<figcaption>

							<h4 class="fw_medium color_dark">Alan Smith</h4>

							<p class="color_dark m_bottom_10">Developer</p>

							<p class="m_bottom_10">Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum.</p>

							<hr class="divider_type_5 d_inline_b m_bottom_5"><br>

							<ul class="clearfix horizontal_list social_icons d_inline_b t_md_align_c">

								<li class="facebook m_bottom_5 f_md_none d_md_inline_middle relative">

									<a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large">

										<i class="fa fa-facebook"></i>

									</a>

								</li>

								<li class="twitter m_left_5 m_bottom_5 f_md_none d_md_inline_middle relative">

									<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">

										<i class="fa fa-twitter"></i>

									</a>

								</li>

							</ul>

						</figcaption>	

					</figure>

				</div>

			</div>
	</div>
</template>