<template name="testimonialspage">
	<div class="container">
					<div class="row clearfix animate_corporate_container">
						<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_45 animate_fade long">
							<h2 class="tt_uppercase color_dark m_bottom_20">Who We Are</h2>
							<p class="m_bottom_10"><b>Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. </b></p>
							<p class="m_bottom_10">Mauris fermentum dictum magna. Sed laoreet aliquam leo. 
	Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac.</p>
							<p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat. </p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_45 animate_fade long">
							<h2 class="tt_uppercase color_dark m_bottom_20">Our Experience</h2>
							<ul class="f_size_large">
								<li class="m_bottom_15">
									<p class="m_bottom_5">Web Design 80%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:80%" class="bg_color_blue_3"></div>
									</div>
								</li>
								<li class="m_bottom_15">
									<p class="m_bottom_5">Graphic Design 90%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:90%" class="bg_color_orange_3"></div>
									</div>
								</li>
								<li class="m_bottom_15">
									<p class="m_bottom_5">Branding 50%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:50%" class="bg_color_pink_1"></div>
									</div>
								</li>
								<li class="m_bottom_15">
									<p class="m_bottom_5">Programming 70%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:70%" class="bg_scheme_color"></div>
									</div>
								</li>
								<li class="m_bottom_15">
									<p class="m_bottom_5">Marketing 95%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:95%" class="bg_color_purple_1"></div>
									</div>
								</li>
								<li>
									<p class="m_bottom_5">Consulting 40%</p>
									<div class="bg_light_color_1 relative r_corners progress_bar wrapper">
										<div style="width:40%" class="bg_color_green_2"></div>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 m_bottom_45 animate_fade long">
							<div class="clearfix m_bottom_25 m_sm_bottom_20">
								<h2 class="tt_uppercase color_dark f_left f_sm_none m_sm_bottom_15">Testimonials</h2>
								<div class="f_right clearfix nav_buttons_wrap f_sm_none">
									<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left tr_delay_hover r_corners ti_prev"><i class="fa fa-angle-left"></i></button>
									<button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners ti_next"><i class="fa fa-angle-right"></i></button>
								</div>
							</div>
							<!--testimonials carousel-->
							<div class="testiomials_carousel">
								<div>
									<blockquote class="r_corners shadow f_size_large relative m_bottom_15">Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</blockquote>
									<img class="circle m_left_20 d_inline_middle" src="images/testimonial_img_1.jpg" alt="">
									<div class="d_inline_middle m_left_15">
										<h5 class="color_dark"><b>Marta Healy</b></h5>
										<p>Los Angeles</p>
									</div>
								</div>
								<div>
									<blockquote class="r_corners shadow f_size_large relative m_bottom_15">Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.</blockquote>
									<img class="circle m_left_20 d_inline_middle" src="images/testimonial_img_2.jpg" alt="">
									<div class="d_inline_middle m_left_15">
										<h5 class="color_dark"><b>Alan Smith</b></h5>
										<p>New York</p>
									</div>
								</div>
								<div>
									<blockquote class="r_corners shadow f_size_large relative m_bottom_15">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt.</blockquote>
									<img class="circle m_left_20 d_inline_middle" src="images/testimonial_img_3.jpg" alt="">
									<div class="d_inline_middle m_left_15">
										<h5 class="color_dark"><b>Anna Johnson</b></h5>
										<p>Detroid</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
</template>