<template name="compareproducts">
	<figure class="widget animate_ftr shadow r_corners wrapper m_bottom_30">
		<figcaption>
			<h3 class="color_light">Compare Products</h3>
		</figcaption>
		<div class="widget_content">
			<div class="clearfix m_bottom_15 relative cw_product">
				<img src="images/bestsellers_img_1.jpg" alt="" class="f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0">
				<a href="#" class="color_dark d_block bt_link">Ut tellus dolor<br> dapibus</a>
				<button type="button" class="f_size_medium f_right color_dark bg_tr tr_all_hover close_fieldset"><i class="fa fa-times lh_inherit"></i></button>
			</div>
			<hr class="m_bottom_15">
			<div class="clearfix m_bottom_25 relative cw_product">
				<img src="images/bestsellers_img_2.jpg" alt="" class="f_left m_right_15 m_sm_bottom_10 f_sm_none f_xs_left m_xs_bottom_0">
				<a href="#" class="color_dark d_block bt_link">Elemenum vel</a>
				<button type="button" class="f_size_medium f_right color_dark bg_tr tr_all_hover close_fieldset"><i class="fa fa-times lh_inherit"></i></button>
			</div>
			<a href="#" class="color_dark"><i class="fa fa-files-o m_right_10"></i>Go to Compare</a>
		</div>
	</figure>
</template>