<template name="tags">
	<figure class="widget animate_ftr shadow r_corners wrapper">
		<figcaption>
			<h3 class="color_light">Tags</h3>
		</figcaption>
		<div class="widget_content">
			<div class="tags_list">
				<a href="#" class="color_dark d_inline_b v_align_b">accessories,</a>
				<a href="#" class="color_dark d_inline_b f_size_ex_large v_align_b">bestseller,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">clothes,</a>
				<a href="#" class="color_dark d_inline_b f_size_big v_align_b">dresses,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">fashion,</a>
				<a href="#" class="color_dark d_inline_b f_size_large v_align_b">men,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">pants,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">sale,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">short,</a>
				<a href="#" class="color_dark d_inline_b f_size_ex_large v_align_b">skirt,</a>
				<a href="#" class="color_dark d_inline_b v_align_b">top,</a>
				<a href="#" class="color_dark d_inline_b f_size_big v_align_b">women</a>
			</div>
		</div>
	</figure>
</template>