<template name="gatepage">

		<!--boxed layout-->
		<div class="wide_layout relative w_xs_auto">

			<!--slider-->
			<section class="revolution_slider">
				<div class="r_slider">
					<ul>

						<li class="f_left" data-transition="curtain-1" data-slotamount="7" data-custom-thumb="images/weddinggate1.jpg">
							<img src="images/weddinggate1.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
							<div class="caption sfl str f_size_large color_light tt_uppercase slider_title_3" data-x="736" data-y="97" data-speed="500" data-start="2500">Meet New Theme</div>
							<div class="caption sfr stl slider_divider" data-x="787" data-y="129" data-speed="500" data-start="2500"></div>
							<div class="caption lft stb color_light slider_title tt_uppercase t_align_c" data-x="588" data-y="140" data-speed="1500" data-easing="easeOutBounce"><b>Attractive &amp; Elegant<br>HTML Theme</b></div>
							<div class="caption sft stb color_light slider_title_2" data-x="761" data-y="272" data-speed="900" data-start="2300">$<b>15.00</b></div>
							<div class="caption sft stb color_light" data-x="742" data-y="335" data-speed="900" data-start="2600">
								<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Buy Now</a>
							</div>
						</li>
						
						<li class="f_left" data-transition="cube" data-slotamount="7" data-custom-thumb="images/weddinggate2.jpg">
							<img src="images/weddinggate2.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
							<div class="caption lft ltb f_size_large tt_uppercase slider_title_3 scheme_color" data-x="264" data-y="126" data-speed="300" data-start="1700">New arrivals</div>
							<div class="caption sfb stt slider_divider type_2" data-x="298" data-y="153" data-speed="400" data-start="1700"></div>
							<div class="caption lft ltb color_light slider_title tt_uppercase t_align_c" data-x="95" data-y="170" data-speed="500" data-easing="ease" data-start="1400"><b><span class="scheme_color">Spring/Summer 2014</span><br><span class="color_dark">Ready-To-Wear</span></b></div>
							<div class="caption lfb ltt color_light" data-x="206" data-y="318" data-speed="500" data-start="1700">
								<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">View Collection</a>
							</div>
						</li>


						<li class="f_left" data-transition="cube" data-slotamount="7" data-custom-thumb="images/weddinggate3.jpg">

							<img src="images/weddinggate3.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">

							<div class="caption lft ltt" data-x="center" data-y="58" data-speed="1500" data-start="1200" data-easing="easeOutBounce">
								 <img src="images/slider_layer_img.png" alt="">
							</div>

							<div class="caption sfb stb color_light slider_title tt_uppercase t_align_c" data-x="center" data-y="246" data-speed="1000" data-easing="ease" data-start="2500">
								<b class="color_dark">up to 70% off</b>
							</div>

							<div class="caption sfb stb color_light" data-x="center" data-y="352" data-speed="1000" data-start="2900">
								<a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Shop Now</a>
							</div>

						</li>

					</ul>

				</div>

			</section>
			
		</div>
		
		
		<!--login popup-->
		{{> loginform}}


</template>