<template name="socialiconslist">

	<!--social icons-->
	<ul class="clearfix d_inline_b horizontal_list social_icons">
		<li class="facebook m_bottom_5 relative">
			<a href="#" class="r_corners t_align_c tr_delay_hover f_size_ex_large">
				<i class="fa fa-facebook"></i>
			</a>
		</li>
		<li class="twitter m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-twitter"></i>
			</a>
		</li>

		<li class="pinterest m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-pinterest"></i>
			</a>
		</li>
		<li class="instagram m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-instagram"></i>
			</a>
		</li>
		<li class="linkedin m_left_5 m_bottom_5 m_sm_left_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-linkedin"></i>
			</a>
		</li>
		<li class="vimeo m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-vimeo-square"></i>
			</a>
		</li>
		<li class="youtube m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-youtube-play"></i>
			</a>
		</li>
		<li class="flickr m_left_5 m_bottom_5 relative">
			<a href="#" class="r_corners f_size_ex_large t_align_c tr_delay_hover">
				<i class="fa fa-flickr"></i>
			</a>
		</li>

	</ul>

</template>